@charset 'utf-8';

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  background-color: palette(wild-sand);
  color: palette(mako);
  font-family: font(emphasis);
  font-size: 100%;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

a {
  color: currentColor;
  text-decoration: none;
}

figure {
  margin: 0;
}
