@charset 'utf-8';

$palette: (
  casablanca:         #F7AC53,
  cod-gray:           #111,
  mako:               #404851,
  wild-sand:          #F5F5F5
);

$fonts: (
  emphasis:       'freight-text-pro',
  text:           'freight-sans-pro'
);
