<meta name='hdl' content='{{ site.title }}' />
<meta name='alternativeHeadline' content='Yair, Genius Front End Guy and JavaScript Rockstar' />
<meta name='genre' content='Website' />
<meta name='author' content='{{ site.author }}' />
<meta name='pdate' content='20161224' />
<meta name='utime' content='20161225115955' />
<meta name='ptime' content='20161224073000' />
<meta name='DISPLAYDATE' content='December 24, 2016' />
<meta name='dateModified' content='2016-12-25' />
<meta name='dat' content='December 24, 2016' />
<meta name='byl' content='By {{ site.author | upcase }}' />
<meta name='keywords' content='{{ site.keywords }}' />
<meta name='news_keywords' content='{{ site.keywords }}' />

<meta itemprop='image' content='{{ site.url }}/images/logo.png' />
<meta name='Section' content='Blog' />
<meta name='Subsection' content='{{ site.author }}' />
<meta name='DisplayDate' content='2016-12-24' />
<meta name='Author' content='{{ site.author }}' />

<meta itemprop='name headline mainEntityOfPage' content='{{ site.title }}' />
<meta itemprop='author' itemtype='http://schema.org/Person' content='{{ site.author }}' />
<meta itemprop='description' name='description' content='{{ site.description }}' />
<meta itemprop='url' content='{{ site.url }}' />
<meta itemprop='genre' content='Website' />
<meta itemprop='inLanguage' content='en-US' />

<meta name='twitter:card' content='summary_large_image' />
<meta name='twitter:site' content='@{{ site.twitter_username }}' />
<meta name='twitter:site:id' content='169319552' />
<meta name='twitter:creator' content='@{{ site.twitter_username }}' />
<meta name='twitter:creator:id' content='169319552' />
<meta name='twitter:title' content='{{ site.title }}' />
<meta name='twitter:description' content='{{ site.description }}' />
<meta name='twitter:image' content='{{ site.url }}/images/logo.png' />
<meta name='twitter:image:alt' content='Yair, JavaScript Rockstar’s Logo' />
<meta name='twitter:domain' content='{{ site.url }}' />

<meta property='og:url' content='{{ site.url }}' />
<meta property='og:type' content='article' />
<meta property='og:title' content='{{ site.title }}' />
<meta property='og:description' content='{{ site.description }}' />
<meta property='og:image' content='{{ site.url }}/images/logo.png' />
<meta property='article:author' content='{{ site.author }}' />
<meta property='article:publisher' content='http://facebook.com/imyairodriguez/' />
<meta property='article:published_time' itemprop='datePublished' content='2016-12-24' />
<meta property='article:modified_time' itemprop='dateModified' content='2016-12-26' />
<meta property='article:section' content='Design' />
<meta property='article:section_url' content='{{ site.url }}' />
<meta property='article:tag' content='Design, Frontend, JavaScript, Rockstar' />
<meta property='fb:admins' content='100001118537951' />
<meta property='fb:profile_id' content='100001118537951' />
<meta property='fb:pages' content='1813787172230717' />
<meta property='og:locale' content='en_US' />
<meta property='og:locale:alternative' content='es_MX' />
<meta property='og:locale:alternative' content='es_ES' />
<meta property='og:site_name' content='{{ site.title }}' />

<meta name='robots' content='index, follow' />
<link rel='canonical' href='{{ site.url }}' />
<link rel='author' href='https://plus.google.com/117936569540385707721' />
<link rel='publisher' href='https://plus.google.com/117936569540385707721' />
<meta name='google-site-verification' content='' />
