@charset 'utf-8';

@include test-module('Sass: font') {
  @include test('Should return the “emphasis” font by given name') {
    $actual: font(emphasis);
    $expected: 'freight-text-pro';

    @include assert-equal($actual, $expected);
  }

  @include test('Should return the “text” font by given name') {
    $actual: font(text);
    $expected: 'freight-sans-pro';

    @include assert-equal($actual, $expected);
  }
}
