<!DOCTYPE html>
<html itemscope itemtype='http://schema.org/Website' itemid='{{ site.url | append: page.url }}'>
<head>
  <meta charset='utf-8' />
  <title>{% if page.headline %}{{ page.headline }}{% else %}{{ site.title }}{% endif %}</title>
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
  <meta name='viewport' content='width=device-width,minimum-scale=1,initial-scale=1' />
  <meta name='mobile-web-app-capable' content='yes'>
  <link rel='stylesheet' href='https://necolas.github.io/normalize.css/5.0.0/normalize.css'>
  <link rel='stylesheet' href='{{ site.url }}/css/{% if page.custom-css %}{{ page.custom-css }}{% else %}{{ 'main' }}{% endif %}.css' />
  <script src='https://use.typekit.net/gnm0bdk.js'></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  {% include seo.html %}
  <style>
    #WebsitePublisher {
      display: none;
    }
  </style>
</head>
<body>
  <div id='WebsitePublisher' itemprop='publisher' itemtype='http://schema.org/Organization' itemscope=''>
    <em itemprop='name'>{{ site.author }}</em>
    <figure itemprop='logo' itemscope itemtype='https://schema.org/ImageObject'>
      <img itemprop='url' src='{{ site.url }}/images/logo.png' alt='Yair, JavaScript Rockstar’s Logo' />
      <meta itemprop='width' content='980' />
      <meta itemprop='height' content='980' />
    </figure>
  </div>
  {{ content }}
</body>
</html>
